* {
  box-sizing: border-box;
  /*height: 100vh;*/
}

html {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(29, 28, 29);
  font-variant-ligatures: common-ligatures;
}

div {
  display: block;
}

.full-container {
  display: flex;
}

div .slack-block-response {
  height: 100vh;
}

.block-response-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.context-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  margin-top: 4px;
}

.context-block .text-element {
  display: inline;
  font-size: 13px;
  line-height: 18px;
  height: auto;
  width: auto;
  word-break: break-word;
}

.context-block .img-element {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  border-radius: 2px;
  display: inline-block;
  height: 20px;
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 20px
}


