* {
  box-sizing: border-box;
  /*height: 100vh;*/
}

html {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: rgb(29, 28, 29);
  font-variant-ligatures: common-ligatures;
}

div {
  display: block;
}

.full-container {
  display: flex;
}

div .slack-block-response {
  height: 100vh;
}


